<html>
<head>
 <style type="text/css">
   body {background-color: white; font-family: Arial;
          background-image: url("http://thumbs.dreamstime.com/z/ice-cream-background-vector-seamless-pattern-35929748.jpg");
          background-repeat: repeat;
   }
   h1 {color: tan; font-weight: bold;
   }
   ol {list-style-type: upper-roman;} 

</head>
</html>
